extends layout

block append config
  - page_title = 'Crear'

block append head
  link(rel='stylesheet', href='/stylesheets/style2.css')

block append wrapper
  script(src='/javascripts/addBlur.js')

block nav
  .nav__main
    a(class="logoName" href='/menuAdmin')= title

block content
  .form__main
    - form_title = 'Crear usuario'
    include blocks/formDataInsert