@import 'config/config';

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bg {
    background: url(../images/bg-main.jpg);
    background-size: cover;
    left: 0;
    right: 0;
    min-height: 100vh;
    position: fixed;
}

.blur-me {
    filter: blur(10px);
    transition: filter 10s linear;
}

.wrapper__main {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    z-index: 999;

    p {
        padding-left: 70px;
        color: $text-in-light;
    }
    
    .nav__main {
        display: flex;
        justify-content: space-between;
        padding: 25px 75px;
        font-size: 25px;
        
        a {
            padding: 10px;
            text-decoration: none;
        }
    
        .logoName {
            color: $text-in-light;
        }
    
        .sign-in-button {
            background: $button-color;
            color: $text-in-dark;
            border-radius: 20px;
        }
    }
}

.form__main {
    display: flex;
    justify-content: center;
    text-align: center;
    
    .form-sign-in,
    .form-sign-up {
        h2 {
            padding: 30px 0 30px;
            color: $text-in-light;
        }
        
        .name,
        .email,
        .password {
            width: 230px;
            height: 40px;
            margin-top: 20px;
            padding-left: 20px;
            font-size: 15px;
            border: 2px solid #707070;
            border-radius: 20px;
            filter: blur(.3px) brightness(60%) opacity(40%);
        }
        
        .sign-in,
        .sign-up {
            width: 250px;
            height: 40px;
            margin: 30px 0 10px;
            background: rgba(0, 0, 0, 0);
            color: $text-in-light;
            font-size: 15px;
            border: 2px solid $button-color;
            border-radius: 20px;
            filter: blur(0.5px);
        }

        .forgot-password,
        .no-account,
        .terms {
            color: #FFFFFF;
            font-size: 15px;
            text-decoration: none;
            filter: blur(.5px) brightness(50%);
        }
    }
}

.menu__main {
    display: flex;
    justify-content: center;
    text-align: center;
    
    .menu {
        .item {
            margin-top: 50px;
            list-style: none;
            position: relative;
            
            a {
                padding: 10px;
                text-decoration: none;
                border-radius: 20px;
            }

            .create-user {
                background: $create-color;
                color: $text-in-light;
            }
            
            .update-user {
                background: $update-color;
                color: $text-in-light;
            }
            
            .delete-user {
                background: $delete-color;
                color: $text-in-dark;
            }
            
            .query-user {
                background: $query-color;
                color: $text-in-dark;
            }
        }
    }
}