* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

.bg {
  background: url(../images/bg-main.jpg);
  background-size: cover;
  left: 0;
  right: 0;
  min-height: 100vh;
  position: fixed; }

.blur-me {
  filter: blur(10px); }

.wrapper__main {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  z-index: 999; }
  .wrapper__main p {
    padding-left: 70px;
    color: #3A3A3A; }
  .wrapper__main .nav__main {
    display: flex;
    justify-content: space-between;
    padding: 25px 75px;
    font-size: 25px; }
    .wrapper__main .nav__main a {
      padding: 10px;
      text-decoration: none; }
    .wrapper__main .nav__main .logoName {
      color: #3A3A3A; }
    .wrapper__main .nav__main .sign-in-button {
      background: #3A3A3A;
      color: #C1C1C1;
      border-radius: 20px; }

.form__main {
  display: flex;
  justify-content: center;
  text-align: center; }
  .form__main .form-sign-in .steps,
  .form__main .form-sign-up .steps {
    width: 300px;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: #3A3A3A; }
    .form__main .form-sign-in .steps input[type="radio"],
    .form__main .form-sign-up .steps input[type="radio"] {
      opacity: 0.5; }
    .form__main .form-sign-in .steps .step,
    .form__main .form-sign-up .steps .step {
      width: 20px;
      height: 20px; }
  .form__main .form-sign-in hr,
  .form__main .form-sign-up hr {
    transform: rotate(90deg); }
  .form__main .form-sign-in h2,
  .form__main .form-sign-up h2 {
    padding: 30px 0 30px;
    color: #3A3A3A; }
  .form__main .form-sign-in .name,
  .form__main .form-sign-in .email,
  .form__main .form-sign-in .password,
  .form__main .form-sign-up .name,
  .form__main .form-sign-up .email,
  .form__main .form-sign-up .password {
    width: 230px;
    height: 40px;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 15px;
    border: 2px solid #707070;
    border-radius: 20px;
    filter: blur(0.3px) brightness(60%) opacity(40%); }
  .form__main .form-sign-in .sign-in,
  .form__main .form-sign-in .sign-up,
  .form__main .form-sign-up .sign-in,
  .form__main .form-sign-up .sign-up {
    width: 250px;
    height: 40px;
    margin: 30px 0 10px;
    background: rgba(0, 0, 0, 0);
    color: #3A3A3A;
    font-size: 15px;
    border: 2px solid #3A3A3A;
    border-radius: 20px;
    filter: blur(0.5px); }
  .form__main .form-sign-in .forgot-password,
  .form__main .form-sign-in .no-account,
  .form__main .form-sign-in .terms,
  .form__main .form-sign-up .forgot-password,
  .form__main .form-sign-up .no-account,
  .form__main .form-sign-up .terms {
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
    filter: blur(0.5px) brightness(50%); }

.menu__main {
  display: flex;
  justify-content: center;
  text-align: center; }
  .menu__main .menu .item {
    margin-top: 50px;
    list-style: none;
    position: relative; }
    .menu__main .menu .item a {
      padding: 10px;
      text-decoration: none;
      border-radius: 20px; }
    .menu__main .menu .item .create-user {
      background: rgba(0, 132, 57, 0.85);
      color: #3A3A3A; }
    .menu__main .menu .item .update-user {
      background: rgba(167, 151, 0, 0.85);
      color: #3A3A3A; }
    .menu__main .menu .item .delete-user {
      background: rgba(178, 62, 62, 0.85);
      color: #C1C1C1; }
    .menu__main .menu .item .query-user {
      background: rgba(37, 94, 151, 0.85);
      color: #C1C1C1; }

/*# sourceMappingURL=style.css.map */