$text-in-dark: #C1C1C1;
$text-in-light: #3A3A3A;
$button-color: #3A3A3A;

$create-color: rgba(0, 132, 57, 0.85);
$update-color: rgba(167, 151, 0, 0.85%);
$delete-color: rgba(178, 62, 62, 0.85%);
$query-color: rgba(37, 94, 151, 0.85%);

$border: #707070;