<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <% include partials/head %>
</head>
<body>
    <div class="container-fluid">
        <h2><%= title %> D:</h2>
        <% errors.forEach(text => { %>
            <div class="alert alert-danger mt-3">
                <%= text %>
            </div>
        <% }); %>
    </div>
</body>
</html>