<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> | ITT</title>
    <% include partials/head %>
</head>
<body class="bg-admin">
    <% include partials/navbarAdmin %>
    <div class="container col-6 p-4">
        <% if (msg != '') { %>
            <div class="alert alert-success mt-3 p-4">
                <%= msg %>
            </div>
        <% } %>
    </div>
    <div class="container col-3">
        <div class="nav flex-column">
            <a class="nav-link btn btn-success mb-3" href="/menuAdmin/createUserAdmin">Crear usuario</a>
            <a class="nav-link btn btn-warning mb-3" href="/menuAdmin/updateUserAdmin">Modificar usuario</a>
            <a class="nav-link btn btn-danger mb-3" href="/menuAdmin/deleteUserAdmin">Eliminar usuario</a>
            <a class="nav-link btn btn-primary mb-3" href="/menuAdmin/findUserAdmin">Buscar usuario</a>
            <a class="nav-link btn btn-secondary mb-3" href="#">Ver equipos disponibles</a>
        </div>
    </div>
</body>
</html>