<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> | ITT</title>
</head>
<body>
    <% include partials/navbarAdmin %>
    <div>
        <a href="/menuAdmin/createUserAdmin">Crear usuario</a>
        <a href="/menuAdmin/updateUserAdmin">Modificar usuario</a>
        <a href="/menuAdmin/deleteUserAdmin">Eliminar usuario</a>
        <a href="/menuAdmin/findUserAdmin">Buscar usuario</a>
        <a href="#">Ver equipos disponibles</a>
    </div>
</body>
</html>