<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> | ITT</title>
</head>
<body>
    <% include partials/navbarUser %>
    <div>
        <h2><%= title %></h2>
        <form action="/signUp" method="post">
            <div>
                <label for="name">Nombre</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="email">Correo</label>
                <input type="text" name="email">
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" name="password" pattern=".{4,}">
            </div>
            <input type="submit" value="Registrarse">
        </form>
        <hr>
        <a href="/logIn">Tengo una cuenta</a>
    </div>
</body>
</html>