<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> (admin) | ITT</title>
    <% include partials/head %>
</head>
<body class="bg-main">
    <% include partials/navbarIndex %>
    <div class="container col-4">
        <% message.forEach (text => { %>
            <div class="alert alert-danger mt-3">
                <%= text %>
            </div>
        <% }); %>
        <div class="card mt-5">
            <div class="card-header text-center">
                <h2><%= title %></h2>
            </div>
            <div class="card-body">
                <form action="/indexAdmin/superLogIn" method="post">
                    <div class="form-group">
                        <label for="username">Nombre de usuario</label>
                        <input type="text" class="form-control" name="username" id="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Contrase&ntilde;a</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <input type="submit" class="btn btn-info btn-block" value="<%= title %>">
                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('username').focus();
    </script>
</body>
</html>