@import 'config/config';

.bg {
    background: url(../images/bg-admin-2.jpg);
    background-size: cover;
    left: 0;
    right: 0;
    min-height: 100vh;
    position: fixed;
}

.wrapper__main {
    .nav__main {
        .logoName {
            color: $text-in-dark;
        }
    }
}