extends layout

block append config
  - page_title = 'Crear'

block append head
  link(rel='stylesheet', href='/stylesheets/style1.css')
  link(rel='stylesheet', href='/stylesheets/style2.css')

block append wrapper
  script(src='/javascripts/addBlur.js')
  link(rel='stylesheet', href='/stylesheets/transitionRain.css')

block nav
  .nav__main
    a(class="logoName" href='/menuAdmin')= title

block content
  .form__main
    - form_title = 'Crear usuario'
    .form__wrapper
      form.form-data-insert(action="/createUserAdmin/createUser" method="post")
        h2= form_title
        input(type="text", class="name" name="name" placeholder="Nombre")
        br
        input(type="text", class="email" name="email" placeholder="Correo")
        br
        input(type="password", class="password" name="password"  placeholder="Contraseña")
        br
        input(type="submit" class="confirm" value="Crear")