extends layout

block append config
  - page_title = 'Inicio'

block append wrapper
  script(src='/javascripts/removeBlur.js')

block nav
  .nav__main
    a(class="logoName" href='/')= title
    a(class="log-in-button" href='/logIn') Iniciar Sesi&oacute;n


block content
  p Bienvenido a #{title}

