extends layout

block append config
  - page_title = 'Modificar'

block append head
  link(rel='stylesheet', href='/stylesheets/style2.css')

block append wrapper
  script(src='/javascripts/addBlur.js')
  link(rel='stylesheet', href='/stylesheets/transitionRain.css')

block nav
  .nav__main
    a(class="logoName" href='/menuAdmin')= title

block content
  .form__main
    - form_title = 'Modificar usuario'
    .form__wrapper
      form.form-data-insert(action="/updateUserAdmin/updateUser" method="post")
        h2= form_title
        input(type="text", class="id" name="id" placeholder="Id" value="")
        br
        input(type="text", class="name" name="name" placeholder="Nombre" value="")
        br
        input(type="text", class="email" name="email" placeholder="Correo" value="")
        br
        input(type="text", class="password" name="password"  placeholder="Contraseña" value="")
        br
        input(type="submit" class="confirm" value="Guardar")