.form__wrapper
  form.form-sign-up(action="/signUp" method="post")
    h2 Crear cuenta
    input(type="text", class="name" name="name" placeholder="Nombre")
    br
    input(type="email", class="email" name="email" placeholder="Correo")
    br
    input(type="password", class="password" name="password" placeholder="Contraseña" pattern=".{4,}" title="Tu contraseña debe contener al menos 4 caracteres.")
    br
    input(type="submit" class="sign-up" value="Continuar")
    br
    a(class="terms" href="#") T&eacute;rminos y condiciones