.menu__wrapper
  ul.menu
    li.item: a(class="create-user" href="/createUserAdmin") Crear
    li.item: a(class="update-user" href="/updateUserAdmin") Modificar
    li.item: a(class="delete-user" href="/deleteUserAdmin") Eliminar
    li.item: a(class="find-user" href="/findUserAdmin") Buscar
    li.item: a(class="" href="#") Ver equipos disponibles