.menu__wrapper
  ul.menu
    li.item: a(class="create-user" href="/menuAdmin/createUserAdmin") Crear
    li.item: a(class="update-user" href="/menuAdmin/updateUserAdmin") Modificar
    li.item: a(class="delete-user" href="/menuAdmin/deleteUserAdmin") Eliminar
    li.item: a(class="find-user" href="/menuAdmin/findUserAdmin") Buscar
    li.item: a(class="" href="#") Ver equipos disponibles